@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
html, body {
  margin: 0;
  padding: 0;
  height: 0;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  background: #263238;
  font-size: 14px; }

main {
  max-width: 960px;
  margin: 0 auto; }
  main header {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 13px;
    background: white; }
    @media (max-width: 960px) {
      main header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px 0 0; }
        main header .logo {
          display: inline-block;
          margin-bottom: 16px; } }
    main header nav {
      display: flex;
      align-self: flex-end; }
      @media (max-width: 960px) {
        main header nav {
          display: none;
          align-self: auto;
          flex-direction: column;
          width: 100%; } }
      main header nav a {
        display: block;
        color: #009688;
        font-weight: 400;
        text-decoration: none;
        margin-right: 24px;
        line-height: 1.55;
        font-size: 15px; }
        main header nav a:hover, main header nav a.active {
          color: #007d71; }
        main header nav a:last-of-type {
          margin-right: 0; }
        @media (max-width: 960px) {
          main header nav a {
            align-items: center;
            text-align: center;
            box-sizing: border-box;
            margin-right: 0;
            padding: 8px;
            border-bottom: 1px solid #282727;
            color: #282727; }
            main header nav a:first-of-type {
              border-top: 1px solid #282727; }
            main header nav a:hover, main header nav a.active {
              color: #009688;
              background: #282727; } }
    main header .toggler {
      display: none;
      border: 0;
      background: 0; }
      @media (max-width: 960px) {
        main header .toggler {
          display: block;
          position: absolute;
          color: #009688;
          font-size: 30px;
          font-weight: 400;
          top: 27px;
          right: 16px; } }
  main .head-image {
    display: flex;
    height: 165px;
    background: no-repeat center / cover;
    text-decoration: none;
    padding: 0 12px;
    box-sizing: border-box; }
    @media (max-width: 960px) {
      main .head-image {
        display: none; } }
    main .head-image span {
      align-self: flex-end;
      margin-bottom: 34px;
      text-shadow: 0 0 6.4px rgba(0, 0, 0, 0.37);
      color: #fafafa;
      font-size: 48px;
      font-weight: 400; }
  main > .content {
    background: white;
    padding: 16px 16px 30px; }
    @media (max-width: 960px) {
      main > .content {
        padding-top: 0; } }
    main > .content > .people-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; }
      main > .content > .people-list li {
        width: calc(33.33333% - 16px + (16px / 3));
        margin-right: 16px;
        margin-bottom: 16px; }
        main > .content > .people-list li:nth-of-type(3n) {
          margin-right: 0; }
        @media (max-width: 960px) {
          main > .content > .people-list li {
            margin-right: 0;
            width: 100%; }
            main > .content > .people-list li:nth-of-type(3n) {
              margin-right: auto; } }
        main > .content > .people-list li a {
          display: block;
          position: relative;
          height: 406px;
          background: no-repeat center / cover;
          text-decoration: none;
          color: white;
          overflow: hidden; }
          main > .content > .people-list li a .u-info-cont {
            position: absolute;
            width: 100%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 16px 0;
            background: transparent;
            transition: all 0.3s ease; }
            main > .content > .people-list li a .u-info-cont .name {
              text-transform: uppercase;
              font-size: 36px;
              font-weight: bold;
              line-height: 0.85;
              text-align: right; }
            main > .content > .people-list li a .u-info-cont .prof {
              font-size: 13px;
              margin-bottom: 58px;
              transition: all 0.3s ease; }
            main > .content > .people-list li a .u-info-cont .descr {
              display: none;
              font-size: 11.5px;
              padding: 0 16px;
              opacity: 0;
              overflow: hidden;
              transition: all 0.3s ease; }
          main > .content > .people-list li a:hover .u-info-cont, main > .content > .people-list li a.active .u-info-cont {
            background: rgba(0, 0, 0, 0.5); }
            main > .content > .people-list li a:hover .u-info-cont .prof, main > .content > .people-list li a.active .u-info-cont .prof {
              margin-bottom: 15px; }
            main > .content > .people-list li a:hover .u-info-cont .descr, main > .content > .people-list li a.active .u-info-cont .descr {
              display: block;
              opacity: 1; }
    main > .content > .more {
      display: block;
      margin-top: 10px;
      color: #009688;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none; }
      main > .content > .more span {
        display: inline-block;
        text-decoration: underline; }
      main > .content > .more:hover {
        color: #007d71; }
      @media (max-width: 960px) {
        main > .content > .more {
          max-width: 60%; } }
  main footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 16px; }
    @media (max-width: 960px) {
      main footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px; } }
    main footer > * {
      flex: 1; }
    main footer:before {
      content: '';
      display: block;
      flex: 1; }
    main footer .copy {
      color: #eceff1;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      flex: 2; }
    main footer .social {
      display: flex;
      justify-content: flex-end; }
      main footer .social a {
        text-decoration: none;
        font-size: 24px;
        font-weight: 400;
        margin-left: 5px;
        color: #009688; }
        main footer .social a:first-of-type {
          margin-left: 0; }

/*# sourceMappingURL=style.css.map */
